
<div class="container panel panel-body">
    <h3>Proceso de consolidación y cierre -  {{meses[ctxApertura.mes_control] + ' ' + ctxApertura.ano_control}} </h3>
    <hr>
    Información sobre la apertura actual y la última consolidación realizada
    <div class="panel panel-default panel-bordered panel-body panel-collapsed">
        <div class="col-sm-4">
            <div class="bold">Periodo de Fiscalización actual: {{meses[ctxApertura.mes_control] + ' ' + ctxApertura.ano_control}}</div>
            <div>Fecha de corte: {{util.getFecha(ctxApertura.fecha_corte)}}</div>  
        </div>
        <div class="col-sm-4">
            <div class="bold">Estado apertura actual: <label  class="label {{ctxApertura.iniciado ? 'bg-danger-light':'bg-success-light'}}"> {{ctxApertura.estado}}</label></div>
            <div>Envios detenidos en: {{ctxApertura.fecha_detiene_envios| date : 'dd/MM/yyyy - hh:mm'}}</div>
        </div>
        <div class="col-sm-4">
            <div class="bold">Periodo de última consolidación: {{meses[ctxConsolidacion.mes_control] + ' ' + ctxConsolidacion.ano_control}} </div>
            <div>Fecha de ultima consolidación: {{ctxConsolidacion.fecha_consolidacion| date : 'dd/MM/yyyy - hh:mm'}}</div>
        </div>


    </div>
    <hr>
    <div id="msjAperInicializado" class="col-sm-offset-1 col-sm-10 bg-warning-dark p10 bordered border-danger text-center bold " style="border-radius: 15px " hidden="" >  
        <i class=" fa fa-warning fa-3x"></i>
        <h4>El envío de archivos se encuentra Iniciado. </h4>
        <h5>No se puede realizar la consolidación y cierre mientras la apertura de envíos de archivos se encuentre inicializada      </h5>
    </div>
    <div id="divCierreConsolidación" hidden="">

        <div class="row">
            <div class="bold">
                <span class=" ml5 mr5">Envios: <span class="bold badge bg-dark-dark" style="font-size: 13px">{{listaSeguimiento.length}}</span>  </span>
                <span class=" ml5 mr5">Info. válida: <span class="bold badge bg-dark-dark" style="font-size: 13px">{{validos}}</span>  </span>
                <span class=" ml5 mr5">Consolidados y Cerrados:  <span class="bold badge bg-dark-dark" style="font-size: 13px">{{cerrados}}</span> </span>
            </div>
            <table class="table table-hover table-bordered table-rounded table-condensed responsive mb25">
                <thead class='{{estilo.tableHead}}'>
                    <tr>
                        <th>Cod.</th>
                        <th>Entidad</th>
                        <th>Último envío</th>
                        <th>E. Validación</th>
                        <th>Observaciones</th>
                        <th>Inf. válida</th>
                        <th>E. consolid.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listaSeguimiento">
                        <td>{{item.cod_entidad}}</td>
                        <td>{{item.entidad_nombre}}</td>
                        <td>{{item.fecha_envio| date : 'dd/MM/yyyy - hh:mm'}}</td>
                        <td><span class='{{estiloAlert[item.estado]}} badge'>{{item.desc_estado}}</span> </td>
                        <td>{{item.observaciones}} </td>
                        <td><span class='{{item.valido ? "bg-success-dark": "bg-danger-dark"}} badge'>{{item.valido ? 'S':'N'}}</span> </td>
                        <td><span class='{{item.estado_cierre ?  "bg-success-dark fa fa-check": ""}} badge'>   {{item.estado_cierre}}</span> </td>
                    </tr>
                </tbody> 
            </table>
            <div>
                <span>Introducir una observación en caso de ser necesaria (por ejemplo si se realiza el cierre parcial solo con algunas entidades), 
                    <br> ésta información se guardará en la base de datos y los datos del usuario que realiza el cierre.</span>
                <textarea ng-model="ctxConsolidacion.consolidacion_observaciones" class='form-control' placeholder="Observaciones"></textarea>
            </div>
            <div class="col-md-6 col-md-offset-3 form-group">
                <div id="btnConsolidacion" hidden="" class="btnProcesar">
                    <h5>Al presionar en el botón de consolidación y cierre, solo se procesará los envios de las entidades cuya información  sea valida.</h5> 
                    <div class="bg-danger pl5 pt5 bordered" id="msjError1" ng-show="errorEnCierre">
                        <i class="fa fa-2x fa-warning"></i> 
                        <span> Ha sucedido un error durante el proceso de consolidación y cierre. Por favor vuelva a intentarlo, presionando en el botón.</span>
                    </div>
                    <button ng-click="consolidacion()" class="btn btn-lg btn-success btn-icon btn-block"  >
                        <i class="fa fa-cubes fa-2x "></i>
                        <span>Proceder a la consolidación / Cierre  >></span>
                    </button>

                </div>
                <div class='bg-warning-dark  btn-lg btn-block p15  text-center' id="divProcesando" hidden="" >
                    <i class='fa fa-refresh fa-spin fa-2x fa-fw '></i>
                    <span class="bold "  >Procesando consolidación ...</span>
                </div>
            </div>
        </div>



        <div id="divMargenSolvencia" class="row" hidden="">
            <div class="panel col-md-offset-2 col-md-8 panel-bordered border-default">
                <div  class="panel-body  ">
                    <h4>Introducir los valores para el Margen de Solvencia Previsionales y Patrimonio Tecnico, Para Siguientes entidades.</h4>
                    <table class="table table-hover table-bordered table-rounded table-condensed responsive mb25">
                        <thead class='{{estilo.tableHead}}'>
                            <tr>
                                <th>Código</th>
                                <th>Entidad</th>
                                <th>Margen de Solvencia Previsional</th>
                                <th>Patrimonio Técnico</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctxConsolidados">
                                <td>{{item.cod_entidad}}</td>
                                <td> {{item.entidad_nombre}}</td>
                                <td><input ng-model="item.mMSPrevisional"> </td>
                                <td><input ng-model="item.mPatTecnico"> </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div class="text-center">
                        <div class="bg-danger pl5 pt5 bordered" id="msjError2" ng-show="errorEnCierre2" >
                            <i class="fa fa-2x fa-warning"></i> 
                            <span> Ha sucedido un error durante el proceso de cierre. Por favor vuelva a intentarlo, presionando en el botón.</span>
                        </div>
                        <button ng-click="continuarCierre()" class="btn btn-lg btn-success btn-icon btnProcesar" id="btnConsolidacion"  >
                            <i class="fa fa-random fa-2x "></i>
                            <span>Continuar con el cierre >>> </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>





    </div>



    <!--<div ng-include="'app/svd/control/seguimiento.html'"></div>-->
</div>


