
<div class="container panel panel-body">
    <h3>Gestión de los RAMOS</h3>
    <span><b>Total: <span class="badge ">{{lista.length}}</span></b></span>
    <hr>
    <div class="row">
        <div class="col-sm-10">
            <div ng-show="lista" >
                <div>
                    <div class="row" >
                        <div class='pull-right mb5 '>
                            Modalidad:
                            <select class="w300 p5" ng-model="cmbFiltroMods" ng-options="item.cModalidad + ' ' +  item.tDescripcion for item in listaMods">
                                <option value="">- Todos -</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-success btn-icon" ng-click="muestraForm()"> 
                                <i class="fa fa-plus"></i>
                                <span> Agregar</span>
                            </button>
                        </div>
                        <div class=' pull-right'>
                            <span>búsqueda: <input type="text" ng-model="txtFiltroBusqueda" style="width: 300px"></span>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-bordered table-rounded table-condensed responsive mb25">
                    <thead ng-class="estilo.tableHead">
                        <tr>                            
                            <th>N°</th>
                            <th>Modalidad</th>                                                       
                            <th>Ramo</th>
                            <th>Descripción</th> 
                            <th>Cod Boletin</th>
                            <th>Sigla</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in lista| filter: txtFiltroBusqueda | filter: {cModalidad: cmbFiltroMods.cModalidad} | orderBy: ['cModalidad', 'cRamo']">
                            <td>{{$index + 1}}</td>
                            <td><b><span ng-bind="item.cModalidad + ' ' + item.modalidad_descripcion"></span></b></td>
                            <td><span ng-bind="item.cRamo"></span></td>
                            <td><a href="" ng-click="muestraForm(item)"><b> <span ng-bind="item.tDescripcion"></span></b></a></td>
                            <td><span ng-bind="item.idBoletin" ></span></td>
                            <td><span ng-bind="item.tSigla" ></span></td>

                            <td>
                                <a href=""  ng-click="muestraForm(item)" class="glyphicon glyphicon-pencil" title="editar"></a>
                                <!--<a href="" ng-click="eliminar(item)"><span class="glyphicon glyphicon-trash" title="eliminar"></span></a></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>




