
<div class="container panel panel-body">
    <h3>Periodo que se desea revisar</h3>
    <div class="row">
        <div class="col-md-offset-2 text-center">
            <div class="form-group-lg fa-lg col-md-2 bold ">
                M: {{meses[mesApertura]}}
                <select  ng-model="mesApertura" ng-options="item for item in mesesApertura">
                </select>
            </div>
            <div class=" form-group-lg fa-lg col-md-2  bold ">
                Año: 
                <select  ng-model="anoApertura" ng-options="item for item in anosApertura">
                </select>
            </div> 
            <div class=" col-md-6"></div>
        </div>
    </div>

    <div class="row mt10">
        <div class="col-md-offset-2">
            <button  class="button btn btn-success col-md-4" ng-click="buscarApertura()"><i class="fa fa-search"> </i> <span> Buscar</span></button>
        </div>
    </div>


    <div class="panel panel-bordered border-default p10 mt15">

        <div class="row">
            <div class="col-md-3">
                <h4>Fecha de corte:</h4>
                <!--<span class="help-block">Último día hábil del mes a fiscalizar</span>-->
            </div>
            <div class='col-md-9'> 
                <div class=" form-group col-md-2 bold ">
                    D: {{dias[cot.dia_semana]}} 
                    <input type="number" ng-model="cot.dia" class="form-control" min="1" max="31" ng-change="buscafechaCotizaciones()">
                </div>
                <div class=" form-group col-md-2 bold ">
                    M: {{meses[cot.mes]}}
                    <input  ng-model="cot.mes" class="form-control " min="1" max="12" ng-change="buscafechaCotizaciones()">
                </div>
                <div class=" form-group col-md-2 bold ">
                    Año: 
                    <input  ng-model="cot.ano" class="form-control " min="1980" max="2040" ng-change="buscafechaCotizaciones()">
                </div> 
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" >
                <h4>Cotizaciones al {{cot.dia + "/" + cot.mes + "/" + cot.ano}}: </h4>
                <a ui-sref="app.svd_cla_cotizaciones" >
                    <i class='fa fa-pencil'></i>
                    <span>Editar Cotizaciones</span>
                </a>
            </div>
            <div class="col-sm-9 bold">
                <div class="col-sm-1" >
                    <div><span class="label {{cot.cotizacion.mCompra==null?'label-danger':'label-default'}}" style="width: 200px">USD c</span></div>
                    <div>{{cot.cotizacion.mCompra}}</div>
                </div>
                <div class="col-sm-1">
                    <div><span class="label {{cot.cotizacion.mVenta==null?'label-danger':'label-default'}} " style="width: 200px">USD v</span></div>
                    <div>{{cot.cotizacion.mVenta}}</div>
                </div>
                <div class="col-sm-1" >
                    <div><span class="label {{cot.cotizacion.mEuroBS==null?'label-danger':'label-default'}} " style="width: 200px">EUR</span></div>
                    <div>{{cot.cotizacion.mEuroBS}}</div>
                </div>
                <div class="col-sm-1">
                    <div><span class="label {{cot.cotizacion.mUFV==null?'label-danger':'label-default'}} " style="width: 200px">UFV</span></div>
                    <div>{{cot.cotizacion.mUFV}}</div>
                </div>
            </div>
        </div>

        <hr>
    </div> 
    <div ng-include="'app/svd/control/seguimiento.html'"></div>
</div>


